Sarmizegetusa-Regia/Sarmizegetusa-Regia/Connected Services/weather/time_layout.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="https://graphical.weather.gov/xml/DWMLgen/schema/summarizationType.xsd" />
  <xsd:complexType name="time-layoutElementType">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="layout-key" type="layout-keyType" />
      <xsd:sequence minOccurs="1" maxOccurs="unbounded">
        <xsd:element minOccurs="1" maxOccurs="unbounded" name="start-valid-time" type="start-valid-timeType" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="end-valid-time" type="xsd:dateTime" />
      </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="time-coordinate" type="time-coordinateType" use="required" />
    <xsd:attribute name="summarization" type="summarizationType" use="optional" />
  </xsd:complexType>
  <xsd:simpleType name="time-coordinateType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UTC" />
      <xsd:enumeration value="local" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="start-valid-timeType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="period-name" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="layout-keyType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="k-p\d+[h|d|m|y]-n\d+-\d+" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>